ion-content {
  --background: url(/assets/images/bg.jpg);
  background-size: cover;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.list {
  color: white;
}

.list-title {
  font-weight: bold;
}
