<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="/assets/svg/logo.svg" class="logo" alt="" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title ion-text-center ion-padding-vertical">
    <ion-text color="light">
      特定商取引に関する表示
    </ion-text>
  </div>
  <ion-row class="list ion-padding-bottom">
    <ion-col size="4" class="list-title">
      サイト運営
    </ion-col>
    <ion-col>
      株式会社アドバンスド
    </ion-col>
  </ion-row>
  <ion-row class="list ion-padding-bottom">
    <ion-col size="4" class="list-title">
      所在地
    </ion-col>
    <ion-col>
      東京都品川区大井3-21-8
    </ion-col>
  </ion-row>
  <ion-row class="list ion-padding-bottom">
    <ion-col size="4" class="list-title">
      運営責任者
    </ion-col>
    <ion-col>
      荒川大輔
    </ion-col>
  </ion-row>
  <ion-row class="list ion-padding-bottom">
    <ion-col size="4" class="list-title">
      商品代金
    </ion-col>
    <ion-col>
      各、販売者サイトに準ずる
    </ion-col>
  </ion-row>
  <ion-row class="list ion-padding-bottom">
    <ion-col size="4" class="list-title">
      販売数量
    </ion-col>
    <ion-col>
      制限なし
    </ion-col>
  </ion-row>
  <ion-row class="list ion-padding-bottom">
    <ion-col size="4" class="list-title">
      販売条件
    </ion-col>
    <ion-col>
      国内のみ
    </ion-col>
  </ion-row>
  <ion-row class="list ion-padding-bottom">
    <ion-col size="12" class="list-title">
      免責事項
    </ion-col>
    <ion-col>
      当サイトは､アフィリエイトプログラムにより商品をご紹介致しております。 アフィリエイトプログラムとは､商品及びサービスの提供元と業務提携を結び 商品やサービスを紹介するインターネット上のシステムです。

      従いまして､当サイトの商品は当サイトが販売している訳ではありません。

      お客様ご要望の商品､お支払い等はリンク先の販売店と直接のお取引となりますので､ 特商法に基づく表記につきましてはリンク先をご確認頂けます様お願い致します。

      商品の価格､商品の詳細､消費税､送料､在庫数等の詳細は時として変わる場合も御座います。

      当サイトだけではなくリンク先のサイトもよくご確認頂けます様お願い致します。

      また､当サイトの掲載情報をご利用頂く場合には､ お客様のご判断と責任におきましてご利用頂けます様お願い致します。

      当サイトでは､一切の責任を負いかねます事ご了承願います。

      尚､掲載商品に関するお問合せはリンク先に御座います企業宛までお願い致します。当サイト管理者側ではお答え致しかねます事､ご了承ください。
    </ion-col>
  </ion-row>
</ion-content>
