<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-text-center">
            <img src="/assets/svg/logo.svg" class="logo" alt="" />
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-list></app-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content" animated="false"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
