<ion-list>
  <ion-list>
    <ion-item (click)="navHome()">
      <ion-icon name="home"></ion-icon>
      <ion-label class="ion-margin">ホーム</ion-label>
    </ion-item>
    <ion-item (click)="openAccount()">
      <ion-icon name="person-add"></ion-icon>
      <ion-label class="ion-margin">新規口座開設</ion-label>
    </ion-item>
    <ion-item (click)="openLogin()">
      <ion-icon name="log-in"></ion-icon>
      <ion-label class="ion-margin">ログイン</ion-label>
    </ion-item>
    <ion-item (click)="openDemo()">
      <ion-icon name="keypad"></ion-icon>
      <ion-label class="ion-margin">クイックデモ</ion-label>
    </ion-item>
    <ion-item (click)="navTokushoho()">
      <ion-icon name="book"></ion-icon>
      <ion-label class="ion-margin">特定商取引に関する表示</ion-label>
    </ion-item>
  </ion-list>
</ion-list>
