<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="/assets/svg/logo.svg" class="logo" alt="" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="login-card">
    <ion-card-header>
      <div class="ion-text-center">
        <div class=card-sub-title>High Lowにログインする</div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <app-browser></app-browser>
    </ion-card-content>
  </ion-card>
  <div class="ion-text-center">
    <ion-text color="primary" (click)="openAccount()">
      新規口座開設はこちらから
    </ion-text>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <ion-text color="light">
      口座開設はお済ですか?
      <ion-text color="primary">口座開設して¥5000</ion-text>
      キャッシュバックを受け取りましょう。
    </ion-text>
  </ion-toolbar>
</ion-footer>
